<div class="container form-palace">
  <div class="row">
  <% @palaces.each do |palace| %>
    <div class="col-lg-4 pt-5">

    <%=  link_to palace_path(palace) do %>
      <div class="card-trending">
        <img src="<%= cl_image_path palace.photo.key, height: 400, width: 500, crop: :fill %>" />
        <div class="card-trending-infos">
          <div>
            <h2><%=  palace.name %> </h2>
          </div>
          <div class="card-trending-pricing">
            <p><%= palace.location %></p>
            <p>$<%= palace.price %></p>
          </div>
        </div>
      </div>
     <% end %>

    </div>
  <% end %>
  </div>
</div>
