<p><%= @palace.name %></p>
  <div class="col-lg-4 pt-5">
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= @palace.photo %>)">
        <div class="text-center">
          <h4><%= @palace.description %></h4>
          <p><%= @palace.location %></p>
          <p><%= @palace.price %></p>
          <%= link_to "book", new_palace_booking_path(@palace) %>
        </div>
      </div>
    </div>
  </div>
</div>

